@import url('common.css');

.form-section {
    margin-bottom: 20px;
}

.form-section h2 {
    margin-bottom: 10px;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section form button {
    align-self: flex-start;
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-section form button:hover {
    background-color: #2980b9;
}