/* user_profile.css */
@import url('common.css');
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em; /* Reduced font size */
}

.profile-pic {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic img {
    border-radius: 50%;
    width: 80px; /* Reduced size */
    height: 80px; /* Reduced size */
}

.profile-pic p {
    margin-top: 10px;
    font-size: 1em; /* Reduced font size */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em; /* Reduced font size */
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px; /* Reduced padding */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em; /* Reduced font size */
}

button[type="submit"] {
    background-color: #1abc9c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 1em; /* Reduced font size */
}

button[type="submit"]:hover {
    background-color: #16a085;
}

.alert {
    color: green;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em; /* Reduced font size */
}