{% extends 'base.html' %}

{% load static %}

{% block title %}Leaderboard{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/leaderboard.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Total Points</th>
            </tr>
        </thead>
        <tbody>
            {% for user in leaderboard_data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.user__username }}</td>
                    <td>{{ user.total_points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
